<div class="container">
  <h2>New User Form</h2>

  <form id="new_user_form" action="/users" method="post">

    <div class="form-group">
      <label for="name">Name: </label>
      <input type="text" class="form-control" name="name" id="name">
    </div>

    <div class="form-group">
      <label for="email">Email: </label>
      <input type="text" class="form-control" name="email" id="email">
    </div>

    <div class="form-group">
      <label for="password">Password: </label>
      <input type="password" class="form-control" name="password" id="pwd">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>

  </form>
</div>
