<center>
  <div id="new-user-form" class="form-group row">

    <form id="new-user-form" action="ripper" method="POST"></form>

    <type for="example-text-input" class="col-2 col-form-label" >Username</type>
    <div class="col-10">
      <input class="form-control" type="text" value="username" id="example-text-input">
    </div>
  </div>
  <br>

  <div class="form-group row">
    <label for="example-email-input" class="col-2 col-form-label">Email</label>
    <div class="col-10">
      <input class="form-control" type="email" value="email" id="example-email-input">
    </div>
  </div>
  <br>

  <div class="form-group row">
    <label for="example-password-input" class="col-2 col-form-label">Password</label>
    <div class="col-10">
      <input class="form-control" type="password" value="password" id="example-password-input">
    </div>
  </div>

  <br>
  <br>
  <button id="submit-button" type="submit" class="btn btn-primary">Submit</button>
</center>
