<center>

  <form id="sessions-login" action="sessions" method="POST"></form>

  <form class="form-inline">
    <label class="sr-only" for="inlineFormInput">Username</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput">


    <label class="sr-only" for="inlineFormInput">Password</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput">

    <button id="submit-button" type="submit" class="btn btn-primary">Submit</button>
  </form>

</center>
